@media only screen and (max-width: 300px) {
    body {background-color:red
    }
    #small {
        width: 100%;
        font-size: 16px;
    }
    #medium {
        width: 100%;
    }
    #large {
        width: 100%;
    }
}
@media only screen and (min-width: 301px) and (max-width: 767px) { 
    body {background-color:green
    }
    #medium {
        font-size:18px;
        width: 33%;
    }
    #small {
        width: 66%;
    }
    #large {
        width: 100%;
    }

}
    
@media only screen and (min-width: 768px) {
    body {background-color:blue;
    }
    #large {
        font-size: 20px;
        float: left;
        width: 33%;
    }
    #small {
        float: left;
        width: 33%;
    }
    #medium {
        float: left;
        width: 33%;
    }
}